body {
  margin: 0;
  padding: 0;
}
#map {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
#events {
  background-color: #f2f2f2;
  height: 200px;
  left: 50%;
  margin-left: -150px;
  overflow: auto;
  padding: 15px;
  position: absolute;
  top: 10px;
  width: 300px;
  z-index: 1;
}
