body {
    display: block;
    margin: 8px;
}
p {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
#map {
  height: 400px;
  width: 600px;
}
