body {
  margin: 0;
  padding: 0;
}
#map {
  bottom: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.leaflet-container img {
  margin-bottom: -5px;
}
h1.layer.name,
h2.legend-title,
.leaflet-container h2  {
  margin: 0;
}
.leaflet-container img {
   margin-bottom: -5px;
 }
 h1.layer.name {
   margin: 0;
 }
 h2.legend-title,
 .leaflet-container h2  {
   margin: 10px 0;
 }
