.outerspatial {
  height: 100%;
  position: relative;
  width: 100%;
}
  .outerspatial * {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
  }
  .outerspatial .clearfix:after,
  .outerspatial .clearfix:before {
    content: " ";
    display: table;
  }
  .outerspatial .clearfix:after {
    clear: both;
  }
  .outerspatial .ir {
    background-repeat: no-repeat;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
  }

@media (max-width: 767px) {
  .outerspatial-hidden-xs {
    display: none!important;
  }
}

/* Modules */
.outerspatial-modules {
  -webkit-box-shadow: 2px 0 2px rgba(0,0,0,.2);
     -moz-box-shadow: 2px 0 2px rgba(0,0,0,.2);
          box-shadow: 2px 0 2px rgba(0,0,0,.2);
  background-color: #f9f7f1;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 2;
}
  .outerspatial-modules .module {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
    .outerspatial-modules .module h1,
    .outerspatial-modules .module h2,
    .outerspatial-modules .module h3,
    .outerspatial-modules .module h4,
    .outerspatial-modules .module h5,
    .outerspatial-modules .module h6 {
      font-weight: 500;
      line-height: 1.1;
    }
    .outerspatial-modules .module h2.title {
      color: #647630;
      font-size: 17px;
    }
    .outerspatial-modules .module .content {
      bottom: 0;
      font-size: 14px;
      left: 0;
      overflow: auto;
      padding: 0 15px;
      position: absolute;
      right: 0;
      top: 39px;
    }
      .outerspatial-modules .module .content h3 {
        font-size: 16px;
      }
      .outerspatial-modules .module .content h4 {
        font-size: 15px;
      }
      .outerspatial-modules .module .content h5 {
        font-size: 14px;
      }
      .outerspatial-modules .module .content h6 {
        font-size: 13px;
      }
    .outerspatial-modules .module .title {
      border-bottom: solid 1px #B5B39C;
      padding: 10px 15px;
      margin: 0;
    }
.outerspatial-modules-buttons .outerspatial-modules-buttons-button {
  background-position: 4px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.outerspatial-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.outerspatial-map-wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
  .outerspatial-map-wrapper .outerspatial-modules-buttons {
    bottom: 0;
    margin: 15px -30px 0 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 30px;
    z-index: 9999999; /* IE 8 */
  }
    .outerspatial-map-wrapper .outerspatial-modules-buttons button {
      -webkit-border-radius: 0 3px 3px 0;
         -moz-border-radius: 0 3px 3px 0;
              border-radius: 0 3px 3px 0;
      -webkit-background-clip: padding-box;
         -moz-background-clip: padding;
              background-clip: padding-box;
      -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.4);
         -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.4);
              box-shadow: 1px 2px 5px rgba(0,0,0,.4);
      background-color: #74746a;
      border: none;
      display: none;
      height: 24px;
      margin: 0;
      padding: 0;
      pointer-events: auto;
      width: 24px;
    }
      .outerspatial-map-wrapper .outerspatial-modules-buttons button:hover {
        background-color: #626159;
      }
      .outerspatial-map-wrapper .outerspatial-modules-buttons button.active {
        background-color: #4b4b44;
        cursor: default;
      }
.outerspatial-map {
  background-image: url('images/grain.png');
  border: solid 1px transparent;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
  .outerspatial-map:focus {
    border-color: #b28000;
  }
.outerspatial-toolbar {
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
     -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
          box-shadow: 0 1px 5px rgba(0, 0, 0, .15);
  background-color: #908e7d;
  display: none;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
  .outerspatial-toolbar ul.left,
  .outerspatial-toolbar ul.right {
    line-height: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .outerspatial-toolbar ul.left {
    float: left;
    padding-left: 10px;
  }
    .outerspatial-toolbar ul.left li {
      border-left: none !important;
      border-right: solid 1px #adaca2 !important;
      float: left;
    }
      .outerspatial-toolbar ul.left li:first-child {
        border-left: solid 1px #adaca2 !important;
      }
  .outerspatial-toolbar ul.right {
    float: right !important;
    padding-right: 10px;
  }
    .outerspatial-toolbar ul.right li {
      border-left: solid 1px #adaca2 !important;
      border-right: none !important;
      float: left !important;
    }
      .outerspatial-toolbar ul.right li:last-child {
        border-right: solid 1px #adaca2 !important;
      }
  .outerspatial-toolbar ul li {
    height: auto !important;
    list-style-type: none !important;
    padding: 0 !important;
  }
  .outerspatial-toolbar button {
    background-color: #828171;
    background-position: 5px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
    border: none;
    box-sizing: border-box;
    height: 28px;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    width: 26px;
  }
    .outerspatial-toolbar button:focus {
      outline-offset: -3px;
    }
    .outerspatial-toolbar button:hover {
      background-color: #74746a;
    }

/* Buttons and Forms */
.outerspatial button,
.outerspatial input {
  line-height: 14px;
}
  .outerspatial input[type = 'text'] {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #c9c9c9;
    color: #464646;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 8px;
  }
.outerspatial button,
.outerspatial input,
.outerspatial select,
.outerspatial textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
.outerspatial button,
.outerspatial select {
  text-transform: none;
}
.outerspatial button,
.outerspatial html input[type="button"],
.outerspatial input[type="reset"],
.outerspatial input[type="submit"] {
  -webkit-appearance: button;
     -moz-appearance: button;
  cursor: pointer;
}
.outerspatial button[disabled],
.outerspatial html input[disabled] {
  cursor: default;
}
.outerspatial button::-moz-focus-inner,
.outerspatial input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.outerspatial input,
.outerspatial button,
.outerspatial select,
.outerspatial textarea {
  font-family: inherit;
  font-size: inherit;
}
.outerspatial button,
.outerspatial input,
.outerspatial select[multiple],
.outerspatial textarea {
  background-image: none;
}
.outerspatial .btn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.428571429;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
  .outerspatial .btn:hover,
  .outerspatial .btn:focus {
    color: #333333;
    text-decoration: none;
  }
  .outerspatial .btn:active,
  .outerspatial .btn.active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
       -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
            box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    background-image: none;
    outline: 0;
  }
  .outerspatial .btn.disabled,
  .outerspatial .btn[disabled],
  .outerspatial fieldset[disabled] .btn {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: 0.65;
    pointer-events: none;
  }
.outerspatial .btn-default {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #333333;
}
  .outerspatial .btn-default:hover,
  .outerspatial .btn-default:focus,
  .outerspatial .btn-default:active,
  .outerspatial .btn-default.active {
    background-color: #ebebeb;
    border-color: #adadad;
    color: #333333;
  }
  .outerspatial .btn-default:active,
  .outerspatial .btn-default.active {
    background-image: none;
  }
  .outerspatial .btn-default.disabled,
  .outerspatial .btn-default[disabled],
  .outerspatial fieldset[disabled] .btn-default,
  .outerspatial .btn-default.disabled:hover,
  .outerspatial .btn-default[disabled]:hover,
  .outerspatial fieldset[disabled] .btn-default:hover,
  .outerspatial .btn-default.disabled:focus,
  .outerspatial .btn-default[disabled]:focus,
  .outerspatial fieldset[disabled] .btn-default:focus,
  .outerspatial .btn-default.disabled:active,
  .outerspatial .btn-default[disabled]:active,
  .outerspatial fieldset[disabled] .btn-default:active,
  .outerspatial .btn-default.disabled.active,
  .outerspatial .btn-default[disabled].active,
  .outerspatial fieldset[disabled] .btn-default.active {
    background-color: #ffffff;
    border-color: #cccccc;
  }
.outerspatial .btn-link {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  border-radius: 0;
  color: #936a00;
  cursor: pointer;
  font-weight: normal;
}
  .outerspatial .btn-link:hover,
  .outerspatial .btn-link:focus {
    background-color: transparent;
    color: #b98600;
    text-decoration: underline;
  }
.outerspatial .btn-primary {
  background-color: #b28000;
  border-color: #996e00;
  color: #ffffff;
}
  .outerspatial .btn-primary:hover,
  .outerspatial .btn-primary:focus,
  .outerspatial .btn-primary:active,
  .outerspatial .btn-primary.active,
  .outerspatial .open .dropdown-toggle.btn-primary {
    background-color: #896300;
    border-color: #5b4200;
    color: #ffffff;
  }
  .outerspatial .btn-primary:active,
  .outerspatial .btn-primary.active {
    background-image: none;
  }
  .outerspatial .btn-primary.disabled,
  .outerspatial .btn-primary[disabled],
  .outerspatial fieldset[disabled] .btn-primary,
  .outerspatial .btn-primary.disabled:hover,
  .outerspatial .btn-primary[disabled]:hover,
  .outerspatial fieldset[disabled] .btn-primary:hover,
  .outerspatial .btn-primary.disabled:focus,
  .outerspatial .btn-primary[disabled]:focus,
  .outerspatial fieldset[disabled] .btn-primary:focus,
  .outerspatial .btn-primary.disabled:active,
  .outerspatial .btn-primary[disabled]:active,
  .outerspatial fieldset[disabled] .btn-primary:active,
  .outerspatial .btn-primary.disabled.active,
  .outerspatial .btn-primary[disabled].active,
  .outerspatial fieldset[disabled] .btn-primary.active {
    background-color: #b28000;
    border-color: #996e00;
  }
.outerspatial .btn-circle {
  background: #d29700;
  border-radius: 90% !important;
  color: #fff;
  font-family: Arial !important;
  height: 21px;
  line-height: 21px !important;
  padding: 0 !important;
  pointer-events: auto;
  text-align: center !important;
  width: 21px;
}
  .outerspatial .btn-circle.disabled:hover {
    background: #d29700;
  }
  .outerspatial .btn-circle:focus,
  .outerspatial .btn-circle:hover {
    color: #fff;
  }
  .outerspatial .btn-circle:hover {
    background: #8f8f7d;
  }
.outerspatial .btn-lg {
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.33;
  padding: 10px 16px;
}
.outerspatial .btn-sm,
.outerspatial .btn-xs {
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 10px;
}
.outerspatial .btn-xs {
  padding: 1px 5px;
}
.outerspatial .btn-block {
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.outerspatial .btn-block + .btn-block {
  margin-top: 5px;
}
.outerspatial input[type="submit"].btn-block,
.outerspatial input[type="reset"].btn-block,
.outerspatial input[type="button"].btn-block {
  width: 100%;
}

/* Leaflet Overrides */
.outerspatial .leaflet-container {
  color: #464646;
  font-family: inherit;
  font-size: inherit;
  overflow: hidden;
  touch-action: none;
}
  .outerspatial .leaflet-container a {
    color: #b28000;
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
  }
    .outerspatial .leaflet-container a:hover {
      color: #d39700;
      text-decoration: underline;
    }
  .outerspatial .leaflet-container h1,
  .outerspatial .leaflet-container h2,
  .outerspatial .leaflet-container h3,
  .outerspatial .leaflet-container h4,
  .outerspatial .leaflet-container h5,
  .outerspatial .leaflet-container h6 {
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 10px;
  }

/* Icons */
.outerspatialsymbollibrary-icon.large {
  background-size: 24px 24px;
  height: 24px;
  margin-left: 5px;
  margin-top: 7px;
  width: 24px;
}
.outerspatialsymbollibrary-icon.medium {
  background-size: 18px 18px;
  height: 18px;
  margin-left: 5px;
  margin-top: 4px;
  width: 18px;
}
.outerspatialsymbollibrary-icon.small {
  background-size: 12px 12px;
  height: 12px;
  margin-left: 5px;
  margin-top: 4px;
  width: 12px;
}
.outerspatial [class^="icon-"],
[class*=" icon-"] {
  background-image: url('images/icon/sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin-top: 1px;
  vertical-align: text-top;
  width: 14px;
}
.leaflet-marker-icon {
  background-size: 100%;
}

/* Popup */
.outerspatial .leaflet-popup-content-wrapper {
     -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
      -ms-border-radius: 0;
       -o-border-radius: 0;
          border-radius: 0;
     -moz-box-shadow: 0 1px 5px rgba(0,0,0,.18);
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.18);
          box-shadow: 0 1px 5px rgba(0,0,0,.18);
  background-color: #f9f7f1;
  border: 1px solid #bdbbb1;
  pointer-events: auto;
  overflow: auto;
  text-align: left;
}
.outerspatial .leaflet-popup-pane {
  pointer-events: none;
}
.outerspatial .leaflet-popup-tip-container {
  height: 25px;
  margin: -1px auto;
  /* padding-left: 21px; */
  width: 25px;
}
/* IE8 and below */
.outerspatial .leaflet-oldie .leaflet-control-zoom {
  border: none;
}
.outerspatial .leaflet-oldie .leaflet-popup-tip-container {
  display: none;
}
.outerspatial .leaflet-popup-tip {
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
      -ms-box-shadow: none;
       -o-box-shadow: none;
          box-shadow: none;
  -webkit-transform: none;
     -moz-transform: none;
      -ms-transform: none;
       -o-transform: none;
          transform: none;
  background-color: transparent;
  border-left: solid 1px #bdbbb1;
  height: 24px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 1px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
  .outerspatial .leaflet-popup-tip:after {
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.18);
       -moz-box-shadow: 0 1px 5px rgba(0,0,0,.18);
        -ms-box-shadow: 0 1px 5px rgba(0,0,0,.18);
         -o-box-shadow: 0 1px 5px rgba(0,0,0,.18);
            box-shadow: 0 1px 5px rgba(0,0,0,.18);
     -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
             transform: rotate(45deg);
     background-color: #f9f7f1;
     border: 1px solid #bdbbb1;
     content: "";
     height: 50px;
     left: -15px;
     position: absolute;
     top: -25px;
     width: 30px;
  }
.outerspatial .leaflet-container a.leaflet-popup-close-button {
  background: #d29700;
  border-radius: 90%;
  color: #fff;
  font-family: Arial;
  height: 21px;
  line-height: 21px;
  padding: 0;
  pointer-events: auto;
  position: absolute;
  right: -9px;
  text-align: center;
  top: -10px;
  width: 21px;
}
.outerspatial .leaflet-container a.leaflet-popup-close-button:focus,
.leaflet-container a.leaflet-popup-close-button:hover {
  background-color: #8f8f7d;
  color: #fff;
  text-decoration: none;
}
.outerspatial .leaflet-popup-content {
  font-size: 14px;
  margin: 15px;
  width: auto !important;
}
  .outerspatial .leaflet-popup-scrolled .content,
  .outerspatial .content .leaflet-popup-scrolled audio,
  .outerspatial .content .leaflet-popup-scrolled iframe,
  .outerspatial .content .leaflet-popup-scrolled img,
  .outerspatial .content .leaflet-popup-scrolled video {
    margin-right: 15px;
  }
  .outerspatial .leaflet-popup-content dt {
    clear: both;
    float: left;
    font-weight: bold;
  }
  .outerspatial .leaflet-popup-content dt:after {
    content: ":";
  }
  .outerspatial .leaflet-popup-content dd {
    float: left;
    margin-left: 5px;
  }
  .outerspatial .leaflet-popup-content ul {
    float: none;
    margin-left: 0;
    margin-top: 0;
    padding-left: 25px;
  }
    .outerspatial .leaflet-popup-content ul li {
      list-style: initial;
    }
  .outerspatial .leaflet-popup-content p {
    margin: 6px 0;
  }
  /* TODO: Figure out a way to see if allowable width for popup is less than width of table, and, if it is, set table-layout: fixed; */
  .outerspatial .leaflet-popup-content table {
    border: none;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    word-wrap: break-word;
  }
    .outerspatial .leaflet-popup-content table tr {
      border-bottom: 1px solid  #e1dfd7;
      vertical-align: middle;
    }
    .outerspatial .leaflet-popup-content table tr.hoverable {
      cursor: pointer;
    }
      .outerspatial .leaflet-popup-content table tr.hoverable td,
      .outerspatial .leaflet-popup-content table tr.hoverable th {
        padding-left: 5px;
        padding-right: 5px;
      }
    .outerspatial .leaflet-popup-content table tr.hoverable:hover {
      background-color: #e1dfd7;
    }
    .outerspatial .leaflet-popup-content table tr:last-child {
      border-bottom: none;
    }
    .outerspatial .leaflet-popup-content table td,
    .outerspatial .leaflet-popup-content table th {
      border: none;
      padding-bottom: 7px;
      padding-top: 7px;
    }
    .outerspatial .leaflet-popup-content table tr th:first-child,
    .outerspatial .leaflet-popup-content table tr td:first-child {
      padding-right: 7px;
    }
  .outerspatial .leaflet-popup-content th {
    white-space: nowrap;
  }
  .outerspatial .leaflet-popup-content .actions {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
    border-top: solid 1px #b1b0a7;
    clear: both;
    margin-top: 12px;
    padding-top: 12px;
    position: relative;
  }
    .outerspatial .leaflet-popup-content .actions ul {
      padding-left: 0;
    }
      .outerspatial .leaflet-popup-content .actions ul li {
        float: left;
        list-style-type: none;
        margin: 0 5px 16px 5px;
      }
      .outerspatial .leaflet-popup-content .actions ul li:first-child {
        margin-left: 0;
      }
      .outerspatial .leaflet-popup-content .actions ul li:last-child {
        margin-right: 0;
      }
    .outerspatial .leaflet-popup-content .actions a {
      color: #1f4a87;
      font-weight: bold;
    }
      .outerspatial .leaflet-popup-content .actions a:hover {
        text-decoration: none;
      }
    .outerspatial .leaflet-popup-content .actions .menu {
      -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.12);
         -moz-box-shadow: 0 2px 3px rgba(0,0,0,.12);
              box-shadow: 0 2px 3px rgba(0,0,0,.12);
      background-color: #fff;
      display: none;
      position: absolute;
      z-index: 1;
    }
      .outerspatial .leaflet-popup-content .actions .menu a {
        color: #464646;
        display: block;
        font-size: 11px;
        padding: 5px 16px;
      }
      .outerspatial .leaflet-popup-content .actions .menu a:hover {
        background-color: #f1f1ef;
      }
      .outerspatial .leaflet-popup-content .actions .menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 100px;
      }
      .outerspatial .leaflet-popup-content .actions .menu li {
        border-top: 1px solid #f2f1ef;
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      .outerspatial .leaflet-popup-content .actions .menu li:first-child {
        border-top: 0;
      }
  .outerspatial .leaflet-popup-content .layer {
    clear: both;
    margin-bottom: 10px;
  }
    .outerspatial .leaflet-popup-content .layer .sublayer {
      clear: both;
      margin-bottom: 8px;
    }
    .outerspatial .leaflet-popup-content .layer .sublayer:last-child {
      margin-bottom: 0;
    }
  .outerspatial .leaflet-popup-content .layer:last-child {
    margin-bottom: 0;
  }
  .outerspatial .leaflet-popup-content .media button:last-child {
    margin-left: 2px;
  }
  .outerspatial .leaflet-popup-content .media ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
  }
    .outerspatial .leaflet-popup-content .media ul li {
      text-align: center;
      width: 100%;
    }
      .outerspatial .leaflet-popup-content .media ul li img {
        max-width: 100%;
      }
  .outerspatial .leaflet-popup-content .title {
    font-weight: bold;
    margin-bottom: 8px;
  }
  .outerspatial .leaflet-popup-content .sublayer .title {
    font-style: italic;
    font-weight: normal;
  }
  .outerspatial .leaflet-popup-content .footer {
    border-top: solid 1px #b1b0a7;
    margin-bottom: 2px;
    margin-top: 13px;
    padding-top: 17px;
  }
.outerspatial .leaflet-popup-scrolled {
  border-bottom: none;
  border-top: none;
  margin: 0;
  padding: 15px;
}
  .outerspatial .leaflet-popup-scrolled .actions ul li {
    margin-bottom: 0;
  }

/* Tooltip */
.outerspatial .leaflet-tooltip-container {
  z-index: 650;
}
.outerspatial .leaflet-tooltip {
  -webkit-border-radius: 1px;
          border-radius: 1px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #fff;
  border: 1px solid #bdbbb1;
  box-shadow: 0 1px 7px rgba(0,0,0,0.4);
  color: #464646;
  cursor: default;
  display: none;
  max-width: 250px;
  opacity: 0;
  padding: 7px 10px;
  position: absolute;
  width: auto;
  z-index: 650;
}
  .outerspatial .leaflet-tooltip.leaflet-tooltip-fade {
    opacity: 1;
  }

/* Zoombox */
.outerspatial .leaflet-zoom-box {
  border: 3px solid #d29700;
  background: white;
  opacity: 0.5;
}

/* Leaflet Bar */
.outerspatial .leaflet-bar button {
  display: inherit;
}
.outerspatial .leaflet-bar a,
.outerspatial .leaflet-bar a:hover,
.outerspatial .leaflet-bar button,
.outerspatial .leaflet-bar button:hover,
.outerspatial .leaflet-bar div,
.outerspatial .leaflet-bar div:hover {
  -webkit-text-shadow: 0 2px 2px #757571;
     -moz-text-shadow: 0 2px 2px #757571;
      -ms-text-shadow: 0 2px 2px #757571;
       -o-text-shadow: 0 2px 2px #757571;
          text-shadow: 0 2px 2px #757571;
  background-color: #74746a;
  border-bottom: 1px solid #1a2423;
  border-left: 1px solid #1a2423;
  border-right: 1px solid #1a2423;
  border-top: none;
  color: #fff;
  height: 27px;
  line-height: 26px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  width: 26px;
}
.outerspatial .leaflet-bar a:hover,
.outerspatial .leaflet-bar button:hover {
  background-color: #626159;
}
.outerspatial .leaflet-bar a:active,
.outerspatial .leaflet-bar a.pressed,
.outerspatial .leaflet-bar button:active,
.outerspatial .leaflet-bar button.pressed {
  background-color: #53534a;
}
.outerspatial .leaflet-bar a.leaflet-disabled,
.outerspatial .leaflet-bar a.leaflet-disabled:hover,
.outerspatial .leaflet-bar button.leaflet-disabled,
.outerspatial .leaflet-bar button.leaflet-disabled:hover {
  -webkit-text-shadow: none;
     -moz-text-shadow: none;
      -ms-text-shadow: none;
       -o-text-shadow: none;
          text-shadow: none;
  background-color: #4b4B44;
  color: #bbb;
}
.outerspatial .leaflet-bar a:first-child,
.outerspatial .leaflet-bar button:first-child,
.outerspatial .leaflet-bar div:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top: 1px solid #1a2423;
  height: 26px;
}
.outerspatial .leaflet-bar a:last-child,
.outerspatial .leaflet-bar button:last-child,
.outerspatial .leaflet-bar div:last-child {
  border-bottom: 1px solid #1a2423;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: none;
  height: 27px;
}
.outerspatial .leaflet-bar a.leaflet-bar-single,
.outerspatial .leaflet-bar button.leaflet-bar-single,
.outerspatial .leaflet-bar div.leaflet-bar-single {
  border-radius: 4px;
  border-top: solid 1px #1a2423;
  height: 26px;
}

/* Controls */
.outerspatial .leaflet-control {
  -webkit-box-shadow: 0 0 15px #888;
     -moz-box-shadow: 0 0 15px #888;
      -ms-box-shadow: 0 0 15px #888;
       -o-box-shadow: 0 0 15px #888;
          box-shadow: 0 0 15px #888;
}

/* Attribution Control */
.outerspatial .leaflet-control-attribution {
  display: inline-block;
  line-height: 13px;
  overflow: hidden;
  padding: 3px 5px;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Download Control */
.outerspatial-toolbar button.download {
  background-image: url('images/font-awesome/download.png');
  background-position: 7px;
  background-size: 14px 14px;
}
.outerspatial-retina .outerspatial-toolbar button.share {
  background-image: url('images/font-awesome/download@2x.png');
}

/* Edit Control */
.outerspatial .leaflet-control-edit button {
  background-image: url('images/control/draw/spritesheet.png');
  background-repeat: no-repeat;
}
.outerspatial .leaflet-retina .leaflet-control-edit button {
  background-image: url('images/control/draw/spritesheet@2x.png');
  background-size: 270px 30px;
}
.outerspatial .leaflet-control-edit .polygon {
  background-position: -31px -2px;
}
.outerspatial .leaflet-control-edit .polyline {
  background-position: -2px -2px;
}
.outerspatial .leaflet-control-edit .rectangle {
  background-position: -62px -2px;
}
.outerspatial .leaflet-control-edit .circle {
  background-position: -92px -2px;
}
.outerspatial .leaflet-control-edit .marker {
  background-position: -122px -2px;
}
.outerspatial .leaflet-mouse-marker {
  background-color: #fff;
  cursor: crosshair;
}
.outerspatial .leaflet-draw-tooltip {
  visibility: hidden;
}
.outerspatial .leaflet-draw-guide-dash {
  font-size: 1%;
  opacity: 0.6;
  position: absolute;
  width: 5px;
  height: 5px;
}
.outerspatial .leaflet-edit-move {
  cursor: move;
}
.outerspatial .leaflet-edit-resize {
  cursor: pointer;
}

/* Fullscreen Control */
.outerspatial-toolbar button.fullscreen.enter {
  background-image: url('images/font-awesome/arrows-alt.png');
}
.outerspatial-retina .outerspatial-toolbar button.fullscreen.enter {
  background-image: url('images/font-awesome/arrows-alt@2x.png');
}
.outerspatial-toolbar button.fullscreen.exit {
  background-image: url('images/control/fullscreen/exit.png');
}
.outerspatial-retina .outerspatial-toolbar button.fullscreen.exit {
  background-image: url('images/control/fullscreen/exit@2x.png');
}

/* Geocoder Control */
.outerspatial .leaflet-control-geocoder {
  font-size: 12px;
  z-index: 8;
}
  .outerspatial .leaflet-control-geocoder button {
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
    -webkit-border-radius: 1px;
       -moz-border-radius: 1px;
            border-radius: 1px;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.16);
       -moz-box-shadow: 0 0 5px rgba(0,0,0,.16);
            box-shadow: 0 0 5px rgba(0,0,0,.16);
    border: none;
    box-sizing: border-box;
    height: 24px;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 26px;
  }
  .outerspatial .leaflet-control-geocoder input {
    padding-right: 34px;
    width: 200px;
  }
  .outerspatial .leaflet-control-geocoder ul.leaflet-control {
    background-color: #fff;
    border-left: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    display: none;
    margin: 0;
    margin-top: 0;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    width: 198px;
    z-index: -1;
  }
    .outerspatial .leaflet-control-geocoder ul li {
      border-top: 1px solid #f2f1ef;
      cursor: pointer;
      list-style-type: none;
      padding: 7px 10px;
    }
    .outerspatial .leaflet-control-geocoder ul li:first-child {
      border-top: none;
    }
    .outerspatial .leaflet-control-geocoder ul li:hover {
      background-color: #f1f1ef;
    }
    .outerspatial .leaflet-control-geocoder ul li.selected {
      background-color: #ddd;
      border-color: #ddd;
    }
.outerspatial .leaflet-control-geocoder .search {
  background-color: #cb9733;
  background-image: url('images/control/geocoder/search.png');
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 16px 16px;
}
.outerspatial .leaflet-retina .leaflet-control-geocoder .search {
  background-image: url('images/control/geocoder/search@2x.png');
}
.outerspatial .leaflet-control-geocoder .working {
  background-color: #000;
  background-image: url('images/control/geocoder/spinner.gif');
  background-repeat: no-repeat;
  background-position: 4px;
  background-size: 16px 16px;
  cursor: wait;
}
.outerspatial .leaflet-retina .leaflet-control-geocoder .working {
  background-image: url('images/control/geocoder/spinner@2x.gif');
}

/* Home Control */
.outerspatial .leaflet-control-home button {
  background-image: url('images/font-awesome/home.png');
  background-position: 5px 4px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.outerspatial .leaflet-retina .leaflet-control-home button {
  background-image: url('images/font-awesome/home@2x.png');
}

/* Info Control */
.outerspatial .leaflet-control-info {
  background-color: #fff;
  display: none;
  padding: 3px 5px;
  transition: all .2s;
}

/* Legend Control */
.outerspatial .leaflet-control-legend {
  background-color: #fff;
  background-color: rgba(255,255,255,.8);
  padding: 10px;
}
  .outerspatial .leaflet-control-legend h3 {
    margin: 0 0 8px 0;
  }
  .outerspatial .leaflet-control-legend ul {
    margin: 0;
    padding-left: 0;
  }
    .outerspatial .leaflet-control-legend ul li {
      list-style-type: none;
    }

/* Locate Control */
.outerspatial .outerspatial-control-locate button {
  background-image: url('images/font-awesome/location-arrow.png');
  background-position: 4px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.outerspatial .leaflet-retina .outerspatial-control-locate button {
  background-image: url('images/font-awesome/location-arrow@2x.png');
}
.outerspatial .outerspatial-control-locate button.requesting {
  background-image: url('images/control/locate/spinner.gif');
  background-position: 50% 50%;
}
.outerspatial .leaflet-retina .outerspatial-control-locate button.requesting {
  background-image: url('images/control/locate/spinner@2x.gif');
}

/* Measure Control */
.outerspatial-control-measure button.leaflet-bar-single {
  background-image: url('images/control/measure/ruler.png');
  background-position: 5px 4px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.leaflet-retina .outerspatial-control-measure button.leaflet-bar-single {
  background-image: url('images/control/measure/ruler@2x.png');
}
.outerspatial-control-measure ul {
  display: none;
  height: 28px;
  left: 26px;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  z-index: -1;
}
  .outerspatial-control-measure ul li {
    display: inline-block;
  }
    .outerspatial-control-measure ul li:first-child a {
      border-left: none;
    }
    .outerspatial-control-measure ul li:last-child {
      vertical-align: middle;
    }
      .outerspatial-control-measure ul li select {
        margin-left: 5px;
      }
      .outerspatial-control-measure ul li select:first-child {
        display: none;
      }
    .outerspatial-control-measure ul li button {
      background-color: #919187 !important;
      border: none !important;
      border-radius: 0 !important;
      color: #fff !important;
      display: block !important;
      font-size: 11px !important;
      height: 28px !important;
      line-height: 28px !important;
      padding-left: 10px !important;
      padding-right: 10px !important;
      text-align: center !important;
      text-decoration: none !important;
      width: auto !important;
    }
      .outerspatial-control-measure ul li button:hover {
        background-color: #a0a098;
      }
      .outerspatial-control-measure ul li button.pressed {
        background-color: #74746a !important;
      }
      .outerspatial-control-measure ul li:last-child button {
        border-bottom-right-radius: 4px !important;
        border-top-right-radius: 4px !important;
      }
.leaflet-draw-tooltip {
  visibility: hidden !important;
}
  .leaflet-draw-tooltip:before {
    visibility: hidden !important;
  }
.leaflet-error-draw-tooltip {
  background-color: #f2dede;
  border: 1px solid #e6b6bd;
  color: #b94a48;
  font-size: 11px;
  padding: 5px;
  visibility: visible !important;
}
.outerspatial .leaflet-measure-tooltip {
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  font-size: 11px;
  height: auto !important;
  margin: 0;
  padding: 2px;
  white-space: nowrap;
  width: auto !important;
}
  .outerspatial .leaflet-measure-tooltip div.leaflet-measure-tooltip-distance span:last-child {
    display: none;
  }
  .outerspatial .leaflet-measure-tooltip .leaflet-measure-tooltip-difference {
    color: #777;
  }
  .outerspatial .leaflet-measure-tooltip .leaflet-measure-tooltip-total {
    font-weight: bold;
  }

/* Overview Control */
.outerspatial .leaflet-control-overview {
  -webkit-box-shadow: -1px 0 5px rgba(0,0,0,.28);
     -moz-box-shadow: -1px 0 5px rgba(0,0,0,.28);
          box-shadow: -1px 0 5px rgba(0,0,0,.28);
  background-color: #fff;
  border-left: solid #454545 3px;
  border-top: solid #454545 3px;
  transition: all .2s;
}
  .outerspatial .leaflet-control-overview button {
    background-color: transparent;
    border: none;
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 20px;
    padding: 0;
    position: absolute;
    right: 0;
    width: 20px;
    z-index: 99999;
  }
    .outerspatial .leaflet-control-overview button span {
      background-image: url('images/control/overview/toggle.png');
      background-repeat: no-repeat;
      background-size: 10px 10px;
      bottom: 10px;
      height: 10px;
      position: absolute;
      right: 10px;
      transition: all .2s;
      width: 10px;
    }
      .outerspatial .leaflet-control-overview button span.minimized {
        -webkit-transform: rotate(180deg);
           -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
             -o-transform: rotate(180deg);
                transform: rotate(180deg);
      }
  .outerspatial .leaflet-retina .leaflet-control-overview button span {
    background-image: url('images/control/overview/toggle@2x.png');
  }

/* Print Control */
.outerspatial-toolbar button.print {
  background-image: url('images/font-awesome/print.png');
}
.outerspatial-retina .outerspatial-toolbar button.print {
  background-image: url('images/font-awesome/print@2x.png');
}

/* Scale Control */
.outerspatial .leaflet-control-scale {
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

/* Share Control */
.outerspatial-toolbar button.share {
  background-image: url('images/font-awesome/envelope.png');
}
.outerspatial-retina .outerspatial-toolbar button.share {
  background-image: url('images/font-awesome/envelope@2x.png');
}

/* Smallzoom Control */
.outerspatial .leaflet-control-zoom .in {
  background-image: url('images/font-awesome/plus.png');
  background-position: 5px 4px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.outerspatial .leaflet-retina .leaflet-control-zoom .in {
  background-image: url('images/font-awesome/plus@2x.png');
}
.outerspatial .leaflet-control-zoom .out {
  background-image: url('images/font-awesome/minus.png');
  background-position: 5px 4px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.outerspatial .leaflet-retina .leaflet-control-zoom .out {
  background-image: url('images/font-awesome/minus@2x.png');
}

/* Switcher Control */
.outerspatial-control-switcher {
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  color: #6e6c5f;
  font-size: 10px;
  font-weight: bold;
  min-width: 200px;
}
  .outerspatial-control-switcher div:first-child {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    background-color: #fff;
    background-image: -moz-linear-gradient(top, #e1e1e1 0%, #fdfdfd 100%);
    background-image: -o-linear-gradient(top, #e1e1e1 0%, #fdfdfd 100%);
    background-image: -webkit-linear-gradient(top, #e1e1e1 0%, #fdfdfd 100%);
    background-image: linear-gradient(top, #e1e1e1 0%, #fdfdfd 100%);
    border: solid 1px #bdbbb1;
    cursor: pointer;
    min-height: 29px;
    position: relative;
    width: 198px;
  }
    .outerspatial-control-switcher div:first-child div {
      -webkit-user-select: none;
         -moz-user-select: none;
              user-select: none;
      border-right: solid 1px #908e7d;
      margin-left: 25px;
      padding: 7px 8px 7px 8px;
      margin-right: 25px;
      position: relative;
    }
    .outerspatial-control-switcher div:first-child span:first-child {
      float: left;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 25px;
    }
    .outerspatial-control-switcher div:first-child span:last-child {
      background-image: url('images/control/switcher/toggle.png');
      background-position: 6px;
      background-repeat: no-repeat;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 25px;
    }
  .leaflet-retina .outerspatial-control-switcher div:first-child span:last-child {
    background-image: url('images/control/switcher/toggle@2x.png');
    background-size: 10px 5px;
  }
  .outerspatial-control-switcher div:first-child span:last-child.open {
    -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
    background-position: 8px;
  }
  .outerspatial-control-switcher ul {
    -webkit-box-shadow: 0 2px 15px #888;
       -moz-box-shadow: 0 2px 15px #888;
        -ms-box-shadow: 0 2px 15px #888;
         -o-box-shadow: 0 2px 15px #888;
            box-shadow: 0 2px 15px #888;
    background-color: #fff;
    border-left: 1px solid #bdbbb1;
    border-right: 1px solid #bdbbb1;
    left: -15px;
    list-style-type: none;
    margin: 1px 0 0 0;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 0;
    position: absolute;
    width: 213px;
  }
  .outerspatial-control-switcher li {
    border-bottom: solid 1px #f2f1ef;
    cursor: pointer;
    font-size: 12px;
    padding: 14px 12px;
  }
    .outerspatial-control-switcher li.selected,
    .outerspatial-control-switcher li.selected:hover {
      background-color: #d9d9d6;
    }
    .outerspatial-control-switcher li:hover {
      background-color: #f1f1ef;
    }
    .outerspatial-control-switcher li:last-child {
      border-bottom: none;
    }
.outerspatial-control-switcher .aerial {
  background-image: url('images/control/switcher/aerial.png');
  height: 22px;
  position: absolute;
  width: 17px;
}
.outerspatial-control-switcher .aerial-small {
  background-image: url('images/control/switcher/aerial-small.png');
  height: 13px;
  margin-left: 11px;
  margin-top: 7px;
  position: absolute;
  width: 13px;
}
.outerspatial-control-switcher .generic {
  background-image: url('images/control/switcher/eye.png');
  height: 22px;
  position: absolute;
  width: 17px;
}
.outerspatial-control-switcher .generic-small {
  background-image: url('images/control/switcher/eye-small.png');
  height: 10px;
  margin-top: 9px;
  margin-left: 8px;
  position: absolute;
  width: 17px;
}
.outerspatial-control-switcher .nps {
  background-image: url('images/control/switcher/nps.png');
  height: 22px;
  position: absolute;
  width: 17px;
}
.outerspatial-control-switcher .nps-small {
  background-image: url('images/control/switcher/nps-small.png');
  height: 15px;
  margin-left: 12px;
  margin-top: 6px;
  position: absolute;
  width: 12px;
}
.outerspatial-control-switcher .street {
  background-image: url('images/control/switcher/street.png');
  height: 22px;
  position: absolute;
  width: 17px;
}
.outerspatial-control-switcher .street-small {
  background-image: url('images/control/switcher/street-small.png');
  height: 13px;
  margin-left: 9px;
  margin-top: 8px;
  position: absolute;
  width: 17px;
}
.outerspatial-control-switcher .topo {
  background-image: url('images/control/switcher/topo.png');
  height: 22px;
  position: absolute;
  width: 17px;
}
.outerspatial-control-switcher .topo-small {
  background-image: url('images/control/switcher/topo-small.png');
  height: 13px;
  margin-left: 9px;
  margin-top: 8px;
  position: absolute;
  width: 17px;
}

/* ZoomDisplay Control */
.leaflet-control-zoomdisplay div {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
  cursor: default;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

/* Notifications */
.outerspatial .humane,
.outerspatial .humane-bootstrap {
  -webkit-transition: all 0.4s ease-in-out;
     -moz-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  position: absolute;
  transition: all 0.4s ease-in-out;
  z-index: 100000;
}
.outerspatial .humane,
.outerspatial .humane-bootstrap {
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
     -moz-border-radius-bottomleft: 4px;
     -moz-border-radius-bottomright: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  -webkit-transform: translateY(-100px);
     -moz-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
       -o-transform: translateY(-100px);
  background-color: #fff;
  border: 1px solid transparent;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  display: table;
  font-size: 14px;
  left: 50%;
  margin-left: -100px;
  opacity: 0;
  padding: 5px;
  text-align: center;
  top: 0;
  transform: translateY(-100px);
  width: 178px;
}
.outerspatial .humane p, .outerspatial .humane-bootstrap p,
.outerspatial .humane ul,
.outerspatial .humane-bootstrap ul {
  margin: 0;
  padding: 0;
}
.outerspatial .humane ul, .outerspatial .humane-bootstrap ul {
  list-style: none;
}
.outerspatial .humane.humane-bootstrap-success,
.outerspatial .humane-bootstrap.humane-bootstrap-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.outerspatial .humane.humane-bootstrap-info,
.outerspatial .humane-bootstrap.humane-bootstrap-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.outerspatial .humane.humane-bootstrap-warning,
.outerspatial .humane-bootstrap.humane-bootstrap-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}
.outerspatial .humane.humane-bootstrap-danger,
.outerspatial .humane-bootstrap.humane-bootstrap-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.outerspatial .humane-animate,
.outerspatial .humane-bootstrap.humane-bootstrap-animate {
  opacity: 1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.outerspatial .humane-js-animate,
.outerspatial .humane-bootstrap.humane-bootstrap-js-animate {
  opacity: 1;
  -moz-transform: translateY(0);
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.outerspatial .humane-js-animate:hover,
.outerspatial .humane-bootstrap.humane-bootstrap-js-animate:hover {
  opacity: 0.7;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
}

/* Modules */
#outerspatial-module_Directions .content div:first-child {
  margin-bottom: 10px;
}
#outerspatial-module_Directions button.btn-link {
  color: #464646;
}
  #outerspatial-module_Directions button.btn-link:hover {
    text-decoration: underline;
  }

#outerspatial-module_Directions .directions {
  border-top: 1px dotted #bdbbb1;
  margin-top: 25px;
  padding-top: 15px;
}
  #outerspatial-module_Directions .directions .mapbox-directions-direction,
  #outerspatial-module_Directions .directions .mapbox-directions-way-name {
    font-weight: bold;
  }
  #outerspatial-module_Directions .directions .maneuver-header,
  #outerspatial-module_Directions .directions .maneuver-footer {
    background-color: #f3efe5;
    margin-bottom: 15px;
    padding: 8px 10px;
  }
    #outerspatial-module_Directions .directions .maneuver-header h2 {
      color: #647630;
      font-size: 14px;
      font-weight: bold;
      line-height: 18px;
      margin-bottom: 16px;
      margin-top: 0;
    }
    #outerspatial-module_Directions .directions .maneuver-header .info {
      color: #706d5f;
      display: block;
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 16px;
      text-transform: uppercase;
    }
    #outerspatial-module_Directions .directions .maneuver-header h3,
    #outerspatial-module_Directions .directions .maneuver-footer h3 {
      color: #464646;
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 0;
      min-height: 20px;
    }
    #outerspatial-module_Directions .directions .maneuver-header .location,
    #outerspatial-module_Directions .directions .maneuver-footer .location {
      color: #464646;
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 0;
      min-height: 20px;
    }
      #outerspatial-module_Directions .directions .maneuver-header .location .identifier,
      #outerspatial-module_Directions .directions .maneuver-footer .location .identifier {
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;
        background-color: #000;
        color: #fff;
        display: block;
        float: left;
        font-weight: bold;
        line-height: 20px;
        margin-right: 6px;
        text-align: center;
        width: 20px;
      }
      #outerspatial-module_Directions .directions .maneuver-header .location .name,
      #outerspatial-module_Directions .directions .maneuver-footer .location .name {
        display: block;
        margin-left: 30px;
      }
  #outerspatial-module_Directions .directions .maneuver-footer {
    margin-bottom: 0;
  }
    #outerspatial-module_Directions .directions .maneuver-footer .location {
      margin-top: 0;
    }
#outerspatial-module_Directions .disclaimer {
  border-top: 1px solid #b1b0a7;
  color: #706d5f;
  font-size: 9.5px;
  line-height: 12px;
  margin-top: 47px;
  padding-top: 6px;
}
#outerspatial-module_Directions .actions {
  margin-left: 26px;
}
  #outerspatial-module_Directions .actions div:first-child {
    display: none;
    margin: -12px 0 20px 0;
  }
    #outerspatial-module_Directions .actions div:first-child button {
      padding: 0;
    }
  #outerspatial-module_Directions .actions button:first-child {
    margin-right: 5px;
  }
#outerspatial-module_Directions ul, #outerspatial-module_Directions ul li {
  list-style-type: none;
}
#outerspatial-module_Directions ul {
  margin-bottom: 20px;
  padding-left: 0;
}
  #outerspatial-module_Directions ul li {
    height: 29px;
    margin-bottom: 10px;
    position: relative;
  }
  #outerspatial-module_Directions ul li.over {
    border: 2px dashed #000;
  }
  #outerspatial-module_Directions ul li:last-child {
    margin-bottom: 0;
  }
    #outerspatial-module_Directions ul li div {
      left: 26px;
      position: absolute;
      right: 0;
      top: 0;
    }
      #outerspatial-module_Directions ul li button {
        -webkit-background-clip: padding-box;
           -moz-background-clip: padding;
                background-clip: padding-box;
        background-position: 4px 3px;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        border: none;
        box-sizing: border-box;
        display: inline-block;
        height: 24px;
        padding: 0;
        position: absolute;
        right: 2px;
        top: 2px;
        width: 25px;
      }
        #outerspatial-module_Directions ul li button.remove {
          background-color: transparent;
          color: #000;
        }
        #outerspatial-module_Directions ul li div button.search {
          background-color: #c09030;
        }
    #outerspatial-module_Directions ul li div.remove {
      right: 28px;
    }
    #outerspatial-module_Directions ul li label {
      -webkit-border-radius: 3px;
         -moz-border-radius: 3px;
           -o-border-radius: 3px;
              border-radius: 3px;
      background: #000;
      color: #fff;
      cursor: move;
      display: block;
      font-weight: bold;
      line-height: 20px;
      margin: 3px 0 0 0;
      position: absolute;
      text-align: center;
      width: 20px;
    }
    #outerspatial-module_Directions ul li input {
      width: 100%;
    }
    #outerspatial-module_Directions ul li input.search {
      padding-right: 30px;
    }
#outerspatial-module_Directions ol {
  counter-reset: li;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}
  #outerspatial-module_Directions ol > li {
    list-style: none;
    margin: 0 0 0 35px;
    padding: 0 60px 10px 0;
    position: relative;
  }
    #outerspatial-module_Directions ol > li:before {
      box-sizing: border-box;
      color: #b28000;
      content: counter(li)".";
      counter-increment: li;
      font-weight: bold;
      left: -35px;
      position: absolute;
    }
    #outerspatial-module_Directions ol > li .distance {
      position: absolute;
      right: 0;
      top: 0;
    }
