.outerspatial,
.outerspatial .leaflet-container {
  color: #3e3e3f;
  font-family: Karla, 'Helvetica Neue', helvetica, arial, sans-serif;
  font-size: 14px;
  height: 100%;
  line-height: 1.42857143;
  position: relative;
  width: 100%;
}
  .outerspatial * {
    box-sizing: content-box;
  }
  .outerspatial .clearfix:after,
  .outerspatial .clearfix:before {
    content: " ";
    display: table;
  }
  .outerspatial .clearfix:after {
    clear: both;
  }
  .outerspatial .ir {
    background-repeat: no-repeat;
    direction: ltr;
    display: block;
    overflow: hidden;
    text-align: left;
    text-indent: -999em;
  }
  .outerspatial h1,
  .outerspatial .leaflet-container h1,
  .outerspatial h2,
  .outerspatial .leaflet-container h2,
  .outerspatial h3,
  .outerspatial .leaflet-container h3,
  .outerspatial h4,
  .outerspatial .leaflet-container h4,
  .outerspatial h5,
  .outerspatial .leaflet-container h5,
  .outerspatial h6,
  .outerspatial .leaflet-container h6 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: inherit;
    line-height: 1.1;
    margin: inherit;
  }
  .outerspatial a,
  .outerspatial .leaflet-container a {
    color: #41a7d0;
    cursor: pointer;
    font-weight: normal;
    text-decoration: none;
  }
    .outerspatial a:hover,
    .outerspatial .leaflet-container a:hover {
      color: #41a7d0;
      text-decoration: underline;
    }

@media (max-width: 767px) {
  .outerspatial-hidden-xs {
    display: none !important;
  }
}

/* Modules */
.outerspatial-modules {
  box-shadow: 2px 0 2px rgba(0,0,0,.2);
  background-color: #f2f2f2;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 2;
}
  .outerspatial-modules .module {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
    .outerspatial-modules .module .content {
      bottom: 0;
      left: 0;
      overflow: auto;
      padding: 0 15px;
      position: absolute;
      right: 0;
      top: 39px;
    }
    .outerspatial-modules .module .title {
      border-bottom: solid 1px #404041;
      padding: 10px 15px;
      margin: 0;
    }
.outerspatial-modules-buttons .outerspatial-modules-buttons-button {
  background-position: 4px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
}
.outerspatial-container {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.outerspatial-map-wrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
  .outerspatial-map-wrapper .outerspatial-modules-buttons {
    bottom: 0;
    margin: 15px -30px 0 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 30px;
    z-index: 9999999; /* IE 8 */
  }
    .outerspatial-map-wrapper .outerspatial-modules-buttons button {
      background-clip: padding-box;
      border-radius: 0 3px 3px 0;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, .4);
      background-color: #404041;
      border: none;
      display: none;
      height: 24px;
      margin: 0;
      padding: 0;
      pointer-events: auto;
      width: 24px;
    }
      .outerspatial-map-wrapper .outerspatial-modules-buttons button:hover {
        background-color: #6d6e70;
      }
      .outerspatial-map-wrapper .outerspatial-modules-buttons button.active {
        background-color: #ed6444;
        cursor: default;
      }
.outerspatial-map {
  background-image: url('images/grain.png');
  border: solid 1px transparent;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
  .outerspatial-map:focus {
    border-color: #3bafda;
  }
.outerspatial-toolbar {
  background-color: #fff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  display: none;
  height: 40px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
  .outerspatial-toolbar ul.left,
  .outerspatial-toolbar ul.right {
    box-sizing: border-box;
    height: 40px;
    line-height: 18px;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .outerspatial-toolbar ul.left {
    float: left;
    padding-left: 16px;
    width: 65%
  }
    .outerspatial-toolbar ul.left li {
      border-left: solid 1px #ddd;
      border-right: solid 1px #ddd;
      float: left;
      height: 39px;
      width: 38px;
    }
  .outerspatial-toolbar ul.right {
    float: right;
    padding-right: 16px;
    width: 35%
  }
    .outerspatial-toolbar ul.right li {
      border-left: solid 1px #ddd;
      border-right: solid 1px #ddd;
      float: right;
      height: 39px;
      width: 38px;
    }
  .outerspatial-toolbar ul li {
    list-style-type: none !important;
    padding: 0 !important;
  }
  .outerspatial-toolbar ul.left .title {
    border-left: none;
    border-right: none;
    display: inline-block;
    font-size: 20px;
    line-height: 40px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
  }
  .outerspatial-toolbar button {
    background-color: #fff;
    border: none;
    position: relative;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }
    .outerspatial-toolbar button:focus {
      outline-offset: -3px;
    }

/* Buttons and Forms */
.outerspatial button,
.outerspatial input {
  line-height: 14px;
}
  .outerspatial input[type = 'text'] {
    border: 1px solid #c9c9c9;
    box-sizing: border-box;
    color: #464646;
    font-size: 14px;
    padding: 8px 10px;
  }
.outerspatial button,
.outerspatial input,
.outerspatial select,
.outerspatial textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
.outerspatial button,
.outerspatial select {
  text-transform: none;
}
.outerspatial button,
.outerspatial html input[type="button"],
.outerspatial input[type="reset"],
.outerspatial input[type="submit"] {
  -webkit-appearance: button;
     -moz-appearance: button;
  cursor: pointer;
}
.outerspatial button[disabled],
.outerspatial html input[disabled] {
  cursor: default;
}
.outerspatial button::-moz-focus-inner,
.outerspatial input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.outerspatial input,
.outerspatial button,
.outerspatial select,
.outerspatial textarea {
  font-family: inherit;
  font-size: inherit;
}
.outerspatial button,
.outerspatial input,
.outerspatial select[multiple],
.outerspatial textarea {
  background-image: none;
}
.outerspatial .btn {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.428571429;
  margin-bottom: 0;
  padding: 6px 12px;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}
  .outerspatial .btn:hover,
  .outerspatial .btn:focus {
    color: #333;
    text-decoration: none;
  }
  .outerspatial .btn:active,
  .outerspatial .btn.active {
    background-image: none;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    outline: 0;
  }
  .outerspatial .btn.disabled,
  .outerspatial .btn[disabled],
  .outerspatial fieldset[disabled] .btn {
    box-shadow: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: 0.65;
    pointer-events: none;
  }
.outerspatial .btn-default {
  background-color: #fff;
  border-color: #ccc;
  color: #333;
}
  .outerspatial .btn-default:hover,
  .outerspatial .btn-default:focus,
  .outerspatial .btn-default:active,
  .outerspatial .btn-default.active {
    background-color: #ebebeb;
    border-color: #adadad;
    color: #333;
  }
  .outerspatial .btn-default:active,
  .outerspatial .btn-default.active {
    background-image: none;
  }
  .outerspatial .btn-default.disabled,
  .outerspatial .btn-default[disabled],
  .outerspatial fieldset[disabled] .btn-default,
  .outerspatial .btn-default.disabled:hover,
  .outerspatial .btn-default[disabled]:hover,
  .outerspatial fieldset[disabled] .btn-default:hover,
  .outerspatial .btn-default.disabled:focus,
  .outerspatial .btn-default[disabled]:focus,
  .outerspatial fieldset[disabled] .btn-default:focus,
  .outerspatial .btn-default.disabled:active,
  .outerspatial .btn-default[disabled]:active,
  .outerspatial fieldset[disabled] .btn-default:active,
  .outerspatial .btn-default.disabled.active,
  .outerspatial .btn-default[disabled].active,
  .outerspatial fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc;
  }
.outerspatial .btn-link {
  box-shadow: none;
  background-color: transparent;
  border-radius: 0;
  color: #936a00;
  cursor: pointer;
  font-weight: normal;
}
  .outerspatial .btn-link:hover,
  .outerspatial .btn-link:focus {
    background-color: transparent;
    color: #b98600;
    text-decoration: underline;
  }
.outerspatial .btn-primary {
  background-color: #c55337;
  border-color: #996e00;
  color: #fff;
}
  .outerspatial .btn-primary:hover,
  .outerspatial .btn-primary:focus,
  .outerspatial .btn-primary:active,
  .outerspatial .btn-primary.active,
  .outerspatial .open .dropdown-toggle.btn-primary {
    background-color: #896300;
    border-color: #5b4200;
    color: #fff;
  }
  .outerspatial .btn-primary:active,
  .outerspatial .btn-primary.active {
    background-image: none;
  }
  .outerspatial .btn-primary.disabled,
  .outerspatial .btn-primary[disabled],
  .outerspatial fieldset[disabled] .btn-primary,
  .outerspatial .btn-primary.disabled:hover,
  .outerspatial .btn-primary[disabled]:hover,
  .outerspatial fieldset[disabled] .btn-primary:hover,
  .outerspatial .btn-primary.disabled:focus,
  .outerspatial .btn-primary[disabled]:focus,
  .outerspatial fieldset[disabled] .btn-primary:focus,
  .outerspatial .btn-primary.disabled:active,
  .outerspatial .btn-primary[disabled]:active,
  .outerspatial fieldset[disabled] .btn-primary:active,
  .outerspatial .btn-primary.disabled.active,
  .outerspatial .btn-primary[disabled].active,
  .outerspatial fieldset[disabled] .btn-primary.active {
    background-color: #c55337;
    border-color: #996e00;
  }
.outerspatial .btn-circle {
  background: #c55337;
  border-radius: 90% !important;
  color: #fff;
  font-family: Arial !important;
  height: 21px;
  line-height: 21px !important;
  padding: 0 !important;
  pointer-events: auto;
  text-align: center !important;
  width: 21px;
}
  .outerspatial .btn-circle.disabled:hover {
    background: #c55337;
  }
  .outerspatial .btn-circle:focus,
  .outerspatial .btn-circle:hover {
    color: #fff;
  }
  .outerspatial .btn-circle:hover {
    background: #ed6444;
  }
.outerspatial .btn-lg {
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.33;
  padding: 10px 16px;
}
.outerspatial .btn-sm,
.outerspatial .btn-xs {
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 10px;
}
.outerspatial .btn-xs {
  padding: 1px 5px;
}
.outerspatial .btn-block {
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.outerspatial .btn-block + .btn-block {
  margin-top: 5px;
}
.outerspatial input[type="submit"].btn-block,
.outerspatial input[type="reset"].btn-block,
.outerspatial input[type="button"].btn-block {
  width: 100%;
}

/* Leaflet Overrides */
.outerspatial .leaflet-container {
  overflow: hidden;
  touch-action: none;
}
.outerspatial .leaflet-top .leaflet-control {
  margin-top: 6px;
}
.outerspatial .leaflet-top .leaflet-control:first-child {
  margin-top: 16px;
}
.outerspatial .leaflet-bottom .leaflet-control {
	margin-bottom: 6px;
	}
.outerspatial .leaflet-bottom .leaflet-control:last-child {
	margin-bottom: 16px;
	}
.outerspatial .leaflet-left .leaflet-control {
  margin-left: 16px;
}
.outerspatial .leaflet-right .leaflet-control {
  margin-right: 16px;
}

/* Icons */
.outerspatialsymbollibrary-icon.large {
  background-size: 24px 24px;
  height: 24px;
  margin-left: 5px;
  margin-top: 7px;
  width: 24px;
}
.outerspatialsymbollibrary-icon.medium {
  background-size: 18px 18px;
  height: 18px;
  margin-left: 5px;
  margin-top: 4px;
  width: 18px;
}
.outerspatialsymbollibrary-icon.small {
  background-size: 12px 12px;
  height: 12px;
  margin-left: 5px;
  margin-top: 4px;
  width: 12px;
}
.outerspatial [class^="icon-"],
[class*=" icon-"] {
  background-image: url('images/icon/sprite.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  margin-top: 1px;
  vertical-align: text-top;
  width: 14px;
}
.leaflet-marker-icon {
  background-size: 100%;
}

/* Popup */
.outerspatial .leaflet-popup {
  margin-bottom: 15px;
  margin-left: -1px;
}
.outerspatial .leaflet-popup-content-wrapper {
  background-clip: padding-box;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  background-color: #fff;
  pointer-events: auto;
  overflow: auto;
  text-align: left;
}
.outerspatial .leaflet-popup-pane {
  pointer-events: none;
}
.outerspatial .leaflet-container a.leaflet-popup-close-button {
  background: #3bafda;
  border-radius: 90%;
  color: #fff;
  font-family: Arial;
  height: 21px;
  line-height: 21px;
  padding: 0;
  pointer-events: auto;
  position: absolute;
  right: -9px;
  text-align: center;
  top: -10px;
  width: 21px;
}
.outerspatial .leaflet-container a.leaflet-popup-close-button:focus,
.leaflet-container a.leaflet-popup-close-button:hover {
  background-color: #67cdf6;
  color: #fff;
  text-decoration: none;
}
.outerspatial .leaflet-popup-content {
  color: #6c6d70;
  font-size: 14px;
  letter-spacing: -0.58px;
  line-height: 18px;
  margin: 0;
  width: auto !important;
}
.outerspatial .leaflet-popup-content .content {
  padding: 16px;
}
  .outerspatial .leaflet-popup-scrolled .content,
  .outerspatial .content .leaflet-popup-scrolled audio,
  .outerspatial .content .leaflet-popup-scrolled iframe,
  .outerspatial .content .leaflet-popup-scrolled img,
  .outerspatial .content .leaflet-popup-scrolled video {
    margin-right: 15px;
  }
  .outerspatial .leaflet-popup-content dt {
    clear: both;
    float: left;
    font-weight: bold;
  }
  .outerspatial .leaflet-popup-content dt:after {
    content: ":";
  }
  .outerspatial .leaflet-popup-content dd {
    float: left;
    margin-left: 5px;
  }
  .outerspatial .leaflet-popup-content ul {
    float: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding-left: 25px;
  }
    .outerspatial .leaflet-popup-content ul li {
      list-style: initial;
    }
  .outerspatial .leaflet-popup-content p {
    margin: 0;
    margin-bottom: 8px;
  }
    .outerspatial .leaflet-popup-content p:last-child {
      margin-bottom: 0;
    }
  /* TODO: Figure out a way to see if allowable width for popup is less than width of table, and, if it is, set table-layout: fixed; */
  .outerspatial .leaflet-popup-content table {
    border: none;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
    word-wrap: break-word;
  }
    .outerspatial .leaflet-popup-content table tr {
      border-bottom: 1px solid  #e3dfd8;
      vertical-align: middle;
    }
    .outerspatial .leaflet-popup-content table tr.hoverable {
      cursor: pointer;
    }
      .outerspatial .leaflet-popup-content table tr.hoverable td,
      .outerspatial .leaflet-popup-content table tr.hoverable th {
        padding-left: 5px;
        padding-right: 5px;
      }
    .outerspatial .leaflet-popup-content table tr.hoverable:hover {
      background-color: #e3dfd8;
    }
    .outerspatial .leaflet-popup-content table tr:last-child {
      border-bottom: none;
    }
    .outerspatial .leaflet-popup-content table td,
    .outerspatial .leaflet-popup-content table th {
      border: none;
      padding-bottom: 8px;
      padding-top: 8px;
    }
    .outerspatial .leaflet-popup-content table tr th:first-child,
    .outerspatial .leaflet-popup-content table tr td:first-child {
      padding-right: 8px;
    }
  .outerspatial .leaflet-popup-content th {
    white-space: nowrap;
  }
  .outerspatial .leaflet-popup-content .actions {
    border-top: solid 1px #e3dfd8;
    clear: both;
    display: block;
    margin: 0 16px;
    padding-top: 10px;
    position: relative;
    user-select: none;
  }
    .outerspatial .leaflet-popup-content .actions ul {
      display: inline-block;
      margin-bottom: 0;
      padding-left: 0;
    }
      .outerspatial .leaflet-popup-content .actions ul li {
        float: left;
        list-style-type: none;
        margin: 0 5px 10px 5px;
      }
      .outerspatial .leaflet-popup-content .actions ul li:first-child {
        margin-left: 0;
      }
      .outerspatial .leaflet-popup-content .actions ul li:last-child {
        margin-right: 0;
      }
    .outerspatial .leaflet-popup-content .actions .menu {
      background-color: #fff;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
      display: none;
      list-style-type: none;
      margin: 0;
      max-width: 200px;
      padding: 0;
      position: absolute;
      z-index: 1;
    }
      .outerspatial .leaflet-popup-content .actions .menu a {
        color: #6c6d70;
        display: block;
        padding: 5px 9px;
      }
        .outerspatial .leaflet-popup-content .actions .menu a:hover {
          color: #98ca43;
        }
      .outerspatial .leaflet-popup-content .actions .menu li {
        border-top: 1px solid #f2f1ef;
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
      }
        .outerspatial .leaflet-popup-content .actions .menu li:first-child {
          border-top: 0;
        }
  .outerspatial .leaflet-popup-content .layer {
    border-top: 1px solid #e3dfd8;
    clear: both;
    margin-bottom: 10px;
  }
  .outerspatial .leaflet-popup-content .layer:first-child {
    border-top: none;
  }
  .outerspatial .leaflet-popup-content .layer div:first-child {
    border: none;
  }
  .outerspatial .leaflet-popup-content .layer div:nth-child(2) {
    border-top: 1px solid #e3dfd8;
  }
    .outerspatial .leaflet-popup-content .layer .sublayer {
      clear: both;
      margin-bottom: 8px;
    }
    .outerspatial .leaflet-popup-content .layer .sublayer:first-child {
      margin-top: -6px;
    }
    .outerspatial .leaflet-popup-content .layer .sublayer:last-child {
      margin-bottom: 0;
    }
  .outerspatial .leaflet-popup-content .layer:last-child {
    margin-bottom: 0;
  }
  .outerspatial .leaflet-popup-content .media button:last-child {
    margin-left: 2px;
  }
  .outerspatial .leaflet-popup-content .media ul {
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
  }
    .outerspatial .leaflet-popup-content .media ul li {
      text-align: center;
      width: 100%;
    }
      .outerspatial .leaflet-popup-content .media ul li img {
        max-width: 100%;
      }
  .outerspatial .leaflet-popup-content .title {
    color: #3e3e3f;
    font-size: 20px;
    line-height: 22px;
    padding: 16px;
  }
  .outerspatial .leaflet-popup-content .sublayer .title {
    font-size: 18px;
    font-style: italic;
    font-weight: normal;
    line-height: 20px;
    padding-left: 0;
  }
  .outerspatial .leaflet-popup-content .description {
    display: inline-block;
    width: 100%;
  }
.outerspatial .leaflet-popup-scrolled {
  border-bottom: none;
  border-top: none;
  margin: 0;
  padding: 15px;
}
  .outerspatial .leaflet-popup-scrolled .actions ul li {
    display: inline-block;
    margin-bottom: 0;
  }

/* Tooltip */
.outerspatial .leaflet-tooltip-container {
  z-index: 650;
}
.outerspatial .leaflet-tooltip {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 1px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  color: #6c6d70;
  cursor: default;
  display: none;
  max-width: 250px;
  opacity: 0;
  padding: 7px 10px;
  position: absolute;
  user-select: none;
  width: auto;
  z-index: 650;
}
  .outerspatial .leaflet-tooltip.leaflet-tooltip-fade {
    opacity: 1;
  }

/* Zoombox */
.outerspatial .leaflet-zoom-box {
  background: rgba(65, 167, 208, 0.5);
  border: 3px solid #3bafda;
}

/* Leaflet Bar */
.outerspatial .leaflet-bar button {
  display: inherit;
}
.outerspatial .leaflet-bar a,
.outerspatial .leaflet-bar a:hover,
.outerspatial .leaflet-bar button,
.outerspatial .leaflet-bar button:hover,
.outerspatial .leaflet-bar div,
.outerspatial .leaflet-bar div:hover {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 0;
  border-bottom-color: #d8d8d8;
  box-sizing: border-box;
  color: #444;
  width: 40px;
  height: 40px;
  font-size: 18px;
  line-height: 18px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}
.outerspatial .leaflet-bar a:first-child,
.outerspatial .leaflet-bar button:first-child,
.outerspatial .leaflet-bar div:first-child {
  border-bottom-color: #d8d8d8;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
}
.outerspatial .leaflet-bar a:last-child,
.outerspatial .leaflet-bar button:last-child,
.outerspatial .leaflet-bar div:last-child {
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}
.outerspatial .leaflet-bar a.leaflet-bar-single,
.outerspatial .leaflet-bar button.leaflet-bar-single,
.outerspatial .leaflet-bar div.leaflet-bar-single {
  border-bottom-color: #ffffff;
  border-radius: 1px;
}
.outerspatial .leaflet-bar a.leaflet-disabled,
.outerspatial .leaflet-bar a.leaflet-disabled:hover,
.outerspatial .leaflet-bar button.leaflet-disabled,
.outerspatial .leaflet-bar button.leaflet-disabled:hover {
  background-color: #9b9b9b;
  border-color: #9b9b9b;
}
.outerspatial .leaflet-bar a.pressed,
.outerspatial .leaflet-bar button.pressed {
  background-color: #98ca43;
  border-color: #98ca43;
}

 /* SVG Buttons */
.outerspatial button .icon-svg-line {
  fill: none;
  fill-rule: evenodd;
  stroke: #444;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 1.5;
}
.outerspatial button:active .icon-svg-line,
.outerspatial button:hover .icon-svg-line {
  stroke: #98ca43;
}
.outerspatial button.pressed .icon-svg-line,
.outerspatial button.pressed:hover .icon-svg-line,
.outerspatial button.leaflet-disabled .icon-svg-line,
.outerspatial button.leaflet-disabled:hover .icon-svg-line {
  stroke: #fff;
}
.outerspatial button .icon-svg-path {
  fill: #444;
}
.outerspatial button:active .icon-svg-path,
.outerspatial button:hover .icon-svg-path {
  fill: #98ca43;
}
.outerspatial button.pressed .icon-svg-path,
.outerspatial button.pressed:hover .icon-svg-path,
.outerspatial button.leaflet-disabled .icon-svg-path,
.outerspatial button.leaflet-disabled:hover .icon-svg-path {
  fill: #fff;
}

/* Controls */
.outerspatial .leaflet-control {
  border: none;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

/* Attribution Control */
.outerspatial .leaflet-control-attribution {
  background-color: #fff;
  background-color: rgba(255, 255, 255, .8) !important;
  border-bottom-right-radius: 14px;
  border-top-right-radius: 14px;
  box-sizing: border-box;
  color: #4a4a4a;
  display: inline-block;
  line-height: 13px;
  margin-bottom: 8px !important;
  margin-left: 0 !important;
  overflow: hidden;
  padding: 8px 16px 8px 13px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.outerspatial .leaflet-control-attribution.collapsed {
  border-radius: 0;
  margin-bottom: 0 !important;
  padding: 8px;
}

/* Download Control */
.outerspatial-toolbar button.download {
  background-image: url('images/font-awesome/download.png');
  background-position: 7px;
  background-size: 14px 14px;
}
.outerspatial-retina .outerspatial-toolbar button.share {
  background-image: url('images/font-awesome/download@2x.png');
}

/* Edit Control */
.outerspatial .leaflet-mouse-marker {
  background-color: #fff;
  cursor: crosshair;
}
.outerspatial .leaflet-draw-tooltip {
  visibility: hidden;
}
.outerspatial .leaflet-draw-guide-dash {
  font-size: 1%;
  height: 5px;
  opacity: 0.6;
  position: absolute;
  width: 5px;
}
.outerspatial .leaflet-edit-move {
  cursor: move;
}
.outerspatial .leaflet-edit-resize {
  cursor: pointer;
}

/* Geocoder Control */
.outerspatial .leaflet-control-geocoder {
  border-radius: 1px;
  font-size: 14px;
  z-index: 8;
}
  .outerspatial .leaflet-control-geocoder button {
    background-clip: padding-box;
    border: none;
    border-left: 1px solid #d8d8d8;
    border-bottom-right-radius: 1px;
    border-top-right-radius: 1px;
    border-radius: 1px;
    box-sizing: border-box;
    float: right;
    height: 40px;
    outline-offset: -1px;
    width: 40px;
  }
  .outerspatial .leaflet-control-geocoder button:focus {
    position: relative;
  }
  .outerspatial .leaflet-control-geocoder input {
    color: #444;
    border: none;
    border-radius: inherit;
    box-sizing: border-box;
    height: 40px;
    outline-offset: -1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
  }
  .outerspatial .leaflet-control-geocoder input:focus {
    position: relative;
  }
  .outerspatial .leaflet-control-geocoder ul.leaflet-control {
    background-color: #fff;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border-top: 1px solid #d8d8d8;
    display: none;
    margin: 0;
    margin-top: 0;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    position: relative;
    width: 240px;
    z-index: -1;
  }
    .outerspatial .leaflet-control-geocoder ul li {
      border-bottom: 1px solid #d8d8d8;
      cursor: pointer;
      list-style-type: none;
      padding: 7px 10px;
    }
    .outerspatial .leaflet-control-geocoder ul li:last-child {
      border-bottom: none;
    }
    .outerspatial .leaflet-control-geocoder ul li:hover {
      background-color: #f1f1ef;
    }
    .outerspatial .leaflet-control-geocoder ul li.selected {
      background-color: #ddd;
      border-color: #ddd;
    }
.outerspatial .leaflet-control-geocoder button.search {
  background-color: #fff;
}
.outerspatial .leaflet-control-geocoder button.working {
  background-color: #98ca43;
  cursor: wait;
}
.outerspatial .leaflet-control-geocoder button.working .icon-svg-path {
  fill: #fff;
}

/* Info Control */
.outerspatial .leaflet-control-info {
  background-color: #ffffff;
  color: #6c6d70;
  display: none;
  padding: 3px 5px;
  transition: all .2s;
}

/* Legend Control */
.outerspatial .leaflet-control-legend {
  background-color: #f2f2f2;
  background-color: rgba(242, 242, 242, .8);
  padding: 10px;
}
  .outerspatial .leaflet-control-legend h3 {
    margin: 0 0 8px 0;
  }
  .outerspatial .leaflet-control-legend ul {
    margin: 0;
    padding-left: 0;
  }
    .outerspatial .leaflet-control-legend ul li {
      list-style-type: none;
    }

/* Measure Control */
.outerspatial-control-measure ul {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 40px;
  white-space: nowrap;
  z-index: -1;
}
  .outerspatial-control-measure ul li {
    display: inline-block;
  }
    .outerspatial-control-measure ul li:first-child {
      padding-right: 8px;
    }
    .outerspatial-control-measure ul li select:first-child {
      display: none;
    }
    .outerspatial-control-measure ul li button {
      background-color: #6d6e70 !important;
      border: none !important;
      border-radius: 0 !important;
      color: #fff !important;
      display: block !important;
      font-size: 11px !important;
      line-height: 18px !important;
      padding-left: 10px !important;
      padding-right: 10px !important;
      text-align: center !important;
      text-decoration: none !important;
      width: auto !important;
    }
      .outerspatial-control-measure ul li button:hover {
        background-color: #a0a098;
      }
      .outerspatial-control-measure ul li button.pressed {
        background-color: #404041 !important;
      }
      .outerspatial-control-measure ul li.first button {
        border-bottom-left-radius: 1px !important;
        border-top-left-radius: 1px !important;
      }
      .outerspatial-control-measure ul li.first,
      .outerspatial-control-measure ul li.second {
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
      }
.leaflet-draw-tooltip {
  visibility: hidden !important;
}
  .leaflet-draw-tooltip:before {
    visibility: hidden !important;
  }
.leaflet-error-draw-tooltip {
  background-color: #f2dede;
  border: 1px solid #e6b6bd;
  color: #b94a48;
  font-size: 11px;
  padding: 5px;
  visibility: visible !important;
}
.outerspatial .leaflet-measure-tooltip {
  background-color: #f2f2f2;
  background-color: rgba(242, 242, 242, 0.8);
  box-shadow: 0 0 5px #bbb;
  font-size: 11px;
  height: auto !important;
  margin: 0;
  padding: 2px;
  white-space: nowrap;
  width: auto !important;
}
  .outerspatial .leaflet-measure-tooltip div.leaflet-measure-tooltip-distance span:last-child {
    display: none;
  }
  .outerspatial .leaflet-measure-tooltip .leaflet-measure-tooltip-difference {
    color: #777;
  }
  .outerspatial .leaflet-measure-tooltip .leaflet-measure-tooltip-total {
    font-weight: bold;
  }

/* Overview Control */
.outerspatial .leaflet-control-overview {
  background-color: #fff;
  border: solid #fff 2px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-right: 20px;
  transition: all .2s;
}
  .outerspatial .leaflet-control-overview button {
    background-color: transparent;
    border: none;
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 20px;
    padding: 0;
    position: absolute;
    right: 0;
    width: 20px;
    z-index: 99999;
  }
    .outerspatial .leaflet-control-overview button span {
      background-image: url('images/control/overview/toggle.png');
      background-repeat: no-repeat;
      background-size: 10px 10px;
      bottom: 10px;
      height: 10px;
      position: absolute;
      right: 10px;
      transition: all .2s;
      width: 10px;
    }
      .outerspatial .leaflet-control-overview button span.minimized {
        transform: rotate(180deg);
      }
  .outerspatial .leaflet-retina .leaflet-control-overview button span {
    background-image: url('images/control/overview/toggle@2x.png');
  }

/* Scale Control */
.outerspatial .leaflet-control-scale {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  margin-bottom: 10px !important;
}

/* Share Control */
.outerspatial-toolbar button.share {
  background-image: url('images/font-awesome/envelope.png');
}
.outerspatial-retina .outerspatial-toolbar button.share {
  background-image: url('images/font-awesome/envelope@2x.png');
}

/* Switcher Control */
.outerspatial-control-switcher {
  border-radius: 1px;
  color: #373a3c;
  font-size: 10px;
  min-width: 200px;
}
  .outerspatial-control-switcher div:first-child {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 1px;
    cursor: pointer;
    min-height: 38px;
    position: relative;
    width: 198px;
  }
    .outerspatial-control-switcher div:first-child div {
      border-right: solid 1px #d8d8d8;
      font-size: 10px;
      margin-left: 40px;
      margin-right: 25px;
      padding: 12px 0;
      position: relative;
      user-select: none;
    }
    .outerspatial-control-switcher div:first-child span:first-child {
      float: left;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 30px;
    }
    .outerspatial-control-switcher div:first-child span:last-child {
      background-image: url('images/control/switcher/toggle.png');
      background-position: 6px;
      background-repeat: no-repeat;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 25px;
    }
  .leaflet-retina .outerspatial-control-switcher div:first-child span:last-child {
    background-image: url('images/control/switcher/toggle@2x.png');
    background-size: 10px 5px;
  }
  .outerspatial-control-switcher div:first-child span:last-child.open {
    background-position: 8px;
    transform: rotate(180deg);
  }
  .outerspatial-control-switcher ul {
    background-color: #fff;
    border-left: 1px solid #bdbbb1;
    border-right: 1px solid #bdbbb1;
    box-shadow: 0 2px 15px #888;
    left: -15px;
    list-style-type: none;
    margin: 1px 0 0 0;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 0;
    position: absolute;
    width: 213px;
  }
  .outerspatial-control-switcher li {
    border-bottom: solid 1px #f2f1ef;
    cursor: pointer;
    font-size: 12px;
    padding: 14px 12px;
  }
    .outerspatial-control-switcher li.selected,
    .outerspatial-control-switcher li.selected:hover {
      background-color: #d9d9d6;
    }
    .outerspatial-control-switcher li:hover {
      background-color: #f1f1ef;
    }
    .outerspatial-control-switcher li:last-child {
      border-bottom: none;
    }
.outerspatial-control-switcher .aerial {
  background-image: url('images/control/switcher/aerial.png');
  height: 22px;
  position: absolute;
  width: 17px;
}
.outerspatial-control-switcher .aerial-small {
  background-image: url('images/control/switcher/aerial-small.png');
  height: 13px;
  margin-left: 11px;
  margin-top: 12px;
  position: absolute;
  width: 13px;
}
.outerspatial-control-switcher .generic {
  background-image: url('images/control/switcher/eye.png');
  height: 22px;
  position: absolute;
  width: 17px;
}
.outerspatial-control-switcher .generic-small {
  background-image: url('images/control/switcher/eye-small.png');
  height: 10px;
  margin-top: 14px;
  margin-left: 8px;
  position: absolute;
  width: 17px;
}
.outerspatial-control-switcher .nps {
  background-image: url('images/control/switcher/nps.png');
  height: 22px;
  position: absolute;
  width: 17px;
}
.outerspatial-control-switcher .nps-small {
  background-image: url('images/control/switcher/nps-small.png');
  height: 15px;
  margin-left: 12px;
  margin-top: 6px;
  position: absolute;
  width: 12px;
}
.outerspatial-control-switcher .street {
  background-image: url('images/control/switcher/street.png');
  height: 22px;
  position: absolute;
  width: 17px;
}
.outerspatial-control-switcher .street-small {
  background-image: url('images/control/switcher/street-small.png');
  height: 13px;
  margin-left: 9px;
  margin-top: 13px;
  position: absolute;
  width: 17px;
}
.outerspatial-control-switcher .topo {
  background-image: url('images/control/switcher/topo.png');
  height: 22px;
  position: absolute;
  width: 17px;
}
.outerspatial-control-switcher .topo-small {
  background-image: url('images/control/switcher/topo-small.png');
  height: 20px;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  width: 20px;
}

/* ZoomDisplay Control */
.leaflet-control-zoomdisplay div {
  cursor: default;
  line-height: 30px !important;
  user-select: none;
}

/* Notifications */
.outerspatial .humane,
.outerspatial .humane-bootstrap {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  position: absolute;
  transition: all 0.4s ease-in-out;
  z-index: 100000;
}
.outerspatial .humane,
.outerspatial .humane-bootstrap {
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
  display: table;
  font-size: 14px;
  left: 100px;
  margin-left: -100px;
  opacity: 0;
  padding: 10px;
  text-align: left;
  top: 5%;
  transform: translateX(-100px);
  width: 178px;
}
.outerspatial .humane p, .outerspatial .humane-bootstrap p,
.outerspatial .humane ul,
.outerspatial .humane-bootstrap ul {
  margin: 0;
  padding: 0;
}
.outerspatial .humane ul, .outerspatial .humane-bootstrap ul {
  list-style: none;
}
.outerspatial .humane.humane-bootstrap-success,
.outerspatial .humane-bootstrap.humane-bootstrap-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.outerspatial .humane.humane-bootstrap-info,
.outerspatial .humane-bootstrap.humane-bootstrap-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.outerspatial .humane.humane-bootstrap-warning,
.outerspatial .humane-bootstrap.humane-bootstrap-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}
.outerspatial .humane.humane-bootstrap-danger,
.outerspatial .humane-bootstrap.humane-bootstrap-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.outerspatial .humane-animate,
.outerspatial .humane-bootstrap.humane-bootstrap-animate {
  opacity: 1;
  transform: translateY(0);
}
.outerspatial .humane-js-animate,
.outerspatial .humane-bootstrap.humane-bootstrap-js-animate {
  opacity: 1;
  transform: translateY(0);
}
.outerspatial .humane-js-animate:hover,
.outerspatial .humane-bootstrap.humane-bootstrap-js-animate:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}

/* Modules */
#outerspatial-module_Directions .content div:first-child {
  margin-bottom: 10px;
}
#outerspatial-module_Directions button.btn-link {
  color: #464646;
}
  #outerspatial-module_Directions button.btn-link:hover {
    text-decoration: underline;
  }

#outerspatial-module_Directions .directions {
  border-top: 1px dotted #bdbbb1;
  margin-top: 25px;
  padding-top: 15px;
}
  #outerspatial-module_Directions .directions .mapbox-directions-direction,
  #outerspatial-module_Directions .directions .mapbox-directions-way-name {
    font-weight: bold;
  }
  #outerspatial-module_Directions .directions .maneuver-header,
  #outerspatial-module_Directions .directions .maneuver-footer {
    background-color: #f3efe5;
    margin-bottom: 15px;
    padding: 8px 10px;
  }
    #outerspatial-module_Directions .directions .maneuver-header h2 {
      color: #647630;
      font-size: 14px;
      font-weight: bold;
      line-height: 18px;
      margin-bottom: 16px;
      margin-top: 0;
    }
    #outerspatial-module_Directions .directions .maneuver-header .info {
      color: #706d5f;
      display: block;
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 16px;
      text-transform: uppercase;
    }
    #outerspatial-module_Directions .directions .maneuver-header h3,
    #outerspatial-module_Directions .directions .maneuver-footer h3 {
      color: #464646;
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 0;
      min-height: 20px;
    }
    #outerspatial-module_Directions .directions .maneuver-header .location,
    #outerspatial-module_Directions .directions .maneuver-footer .location {
      color: #464646;
      font-size: 12px;
      line-height: 20px;
      margin-bottom: 0;
      min-height: 20px;
    }
      #outerspatial-module_Directions .directions .maneuver-header .location .identifier,
      #outerspatial-module_Directions .directions .maneuver-footer .location .identifier {
        background-color: #000;
        border-radius: 3px;
        color: #fff;
        display: block;
        float: left;
        font-weight: bold;
        line-height: 20px;
        margin-right: 6px;
        text-align: center;
        width: 20px;
      }
      #outerspatial-module_Directions .directions .maneuver-header .location .name,
      #outerspatial-module_Directions .directions .maneuver-footer .location .name {
        display: block;
        margin-left: 30px;
      }
  #outerspatial-module_Directions .directions .maneuver-footer {
    margin-bottom: 0;
  }
    #outerspatial-module_Directions .directions .maneuver-footer .location {
      margin-top: 0;
    }
#outerspatial-module_Directions .disclaimer {
  border-top: 1px solid #b1b0a7;
  color: #706d5f;
  font-size: 9.5px;
  line-height: 12px;
  margin-top: 47px;
  padding-top: 6px;
}
#outerspatial-module_Directions .actions {
  margin-left: 26px;
}
  #outerspatial-module_Directions .actions div:first-child {
    display: none;
    margin: -12px 0 20px 0;
  }
    #outerspatial-module_Directions .actions div:first-child button {
      padding: 0;
    }
  #outerspatial-module_Directions .actions button:first-child {
    margin-right: 5px;
  }
#outerspatial-module_Directions ul, #outerspatial-module_Directions ul li {
  list-style-type: none;
}
#outerspatial-module_Directions ul {
  margin-bottom: 20px;
  padding-left: 0;
}
  #outerspatial-module_Directions ul li {
    height: 29px;
    margin-bottom: 10px;
    position: relative;
  }
  #outerspatial-module_Directions ul li.over {
    border: 2px dashed #000;
  }
  #outerspatial-module_Directions ul li:last-child {
    margin-bottom: 0;
  }
    #outerspatial-module_Directions ul li div {
      left: 26px;
      position: absolute;
      right: 0;
      top: 0;
    }
      #outerspatial-module_Directions ul li button {
        background-clip: padding-box;
        background-position: 4px 3px;
        background-repeat: no-repeat;
        background-size: 16px 16px;
        border: none;
        box-sizing: border-box;
        display: inline-block;
        height: 24px;
        padding: 0;
        position: absolute;
        right: 2px;
        top: 2px;
        width: 25px;
      }
        #outerspatial-module_Directions ul li button.remove {
          background-color: transparent;
          color: #000;
        }
        #outerspatial-module_Directions ul li div button.search {
          background-color: #c09030;
        }
    #outerspatial-module_Directions ul li div.remove {
      right: 28px;
    }
    #outerspatial-module_Directions ul li label {
      background: #000;
      border-radius: 3px;
      color: #fff;
      cursor: move;
      display: block;
      font-weight: bold;
      line-height: 20px;
      margin: 3px 0 0 0;
      position: absolute;
      text-align: center;
      width: 20px;
    }
    #outerspatial-module_Directions ul li input {
      width: 100%;
    }
    #outerspatial-module_Directions ul li input.search {
      padding-right: 30px;
    }
#outerspatial-module_Directions ol {
  counter-reset: li;
  margin-bottom: 0;
  margin-left: 0;
  padding-left: 0;
}
  #outerspatial-module_Directions ol > li {
    list-style: none;
    margin: 0 0 0 35px;
    padding: 0 60px 10px 0;
    position: relative;
  }
    #outerspatial-module_Directions ol > li:before {
      box-sizing: border-box;
      color: #c55337;
      content: counter(li)".";
      counter-increment: li;
      font-weight: bold;
      left: -35px;
      position: absolute;
    }
    #outerspatial-module_Directions ol > li .distance {
      position: absolute;
      right: 0;
      top: 0;
    }
